@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Roboto+Slab:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Open+Sans:wght@300;400;500;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  color: #968d8d;
}

.btn {
  background: transparent;
  padding: 8px;
  width: 30px;
  height: 30px;
  border: none;
  margin: 0.25em;
  color: #968d8d;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background: #968d8d;
  color: white;
}
